<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="app.component.css">
  <title>Portafolio</title>
</head>
<body style="background-color: rgb(15 23 42);">
  <div>
    <div class="izquierda">
      <div class="sobremi"> 
        <h1> Christian Martinez</h1>
        <h3> Ingeniero en sistemas</h3>
        <h5>Programador full stack, Ingeniero en hardware profesional <br>
            Desarrollador en aplicaciones de android y ingeniero en <br>
            ciberseguridad
        </h5>
      </div>
      <div class="miinfo">
        <h5 class="a">Acerca de mi</h5>
        <h5 class="b">Habilidades</h5>
        <h5 class="c">Prollectos</h5>
        <h5 class="d">Contactame</h5>
      </div>
      <div>
        <!--ENLASES de redes sociales-->
        <a target="_blank" href="https://github.com/chriscampos20/Investigacion-corta">
          <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" width="65"/></a>
      </div>
      
    </div>
  </div>
  <div>
    <div class="derecha">
      <div class="yoimagen">
        <img src="https://i.pinimg.com/564x/4d/98/86/4d988663f9481fb01256fddcd1b0dd46.jpg" width="200"/>
      </div>
    
      <div>
        <p class="mihistoria">
          
          En el 2023 cuando tenia 19 años de edad, me fui a estudiar<br>
          a Costa Rica para volverme en un Ingeniero en sistemas. <br>
          Me gradue en el 2026 a mis 22 años, actualmente estoy tra- <br>
          bajando como programador Full stack creando multiples <br>
          prollectos personales y me gusta tambien enseñar a progrmar <br>
          Me gusta tambien el area de creacion de aplicaciones wed ya <br>
          es una area muy interesante y es como tomar un aire difer- <br>
          rente en el area de la Ingenieria, pero no puedo olvidarme <br>
          del area de el Hardware ya que es otro nicho que me apaci- <br>
          ona muchisimo y no dejando de lado el area de la cibersegu- <br>
          ridad que es muy nesesaria hoy en dia.
          <br>
          <br>
          Entre mis habilidades, soy programador en Python, Goland, <br>
           Java a nivel senior, ya que en cada uno de esos lenguajes <br>
           con un compañero de programacion creemos un sistema por cada <br>
           uno de esos lenguajes.....
          <br>
          <br>
          Tambien he trabajado en aplicaciones de android, cree un pro- <br>
          llecto basado en una app de recordatorio de medicamentos <br>
          su funcionalidad se basaba en que el usuario podia agregar <br>
          una alarma con multiples datos como; nombre del medicamento, <br>
          instrucciones generales y la hora, tambien se podia observar <br>
          un calendrio el dia y la hora entre semana de cuando le <br>
          tocaba tomar la medicina.
          <br>
          <br>
          Otra de mis habilidades es el trabajar con el Hadware en <br>
          compuradoras, repararlas, armarlas y dar mantenimiento ya sea <br>
          con Laptops Mac y Windows. 
        </p>
      </div>
      <div class="Python">
        <h5>Prollecto con Python</h5>
        <a target="_blank" href="https://github.com/chriscampos20/Prollecto-Python/blob/master/PROLLECTO.py">
          <img id="imgpython" src="https://i.pinimg.com/564x/2f/9c/11/2f9c11f9e55efbf1791f12c06d60729b.jpg" width="65"/></a>
          <p class="parrapy">  </p>
      </div>
      <div class="Goland">
        <h5>Prollecto con Goland</h5>
        <a target="_blank" href="https://github.com/chriscampos20/Goland/blob/main/Investigacion.go">
          <img id="imggoland" src="https://i.pinimg.com/564x/f1/f2/36/f1f236ce9d3c541d67da771fdf6a8af1.jpg" width="65"/></a>
      </div>
      <div class="Java">    
        <h5>Prollecto con Java</h5>
        <a target="_blank" href="https://github.com/chriscampos20/Java-Proyecto/blob/main/salud3.java">
          <img id ="imgjava" src="https://i.pinimg.com/564x/e5/9a/52/e59a522e5010613ae986ede14b8916a3.jpg" width="65"/></a>
      </div>
      <div class="Android">
        <h5>Prollecto con Andrid Studio</h5>
        <a target="_blank" href="https://github.com/chriscampos20/Android-Studio/tree/master">
          <img id="imgandroid" src="https://i.pinimg.com/564x/71/98/4d/71984d9b72f9f62ee4892ecbd9ff1575.jpg" width="65"/></a>
        
      </div>
      <div>
        <h5 class="Javascript">Prollecto con JavaScript</h5>
      </div>
    </div>
  </div>
</body>
</html>